<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body onload="start()">
    <div style="background-color:#000;background-image: url(http://kary.us/Graphics/logo.png);background-position: center left; background-repeat: no-repeat; width:100%;" class="hidden" id="menu">
      <div class="karyHeader" style="backgroun-color:#000;">
        &nbsp;<br>
          <a href="http://kary.us/" style="{color:#eee;} .hover{color:#ffa500;}">Home</a> &middot; 
          <a href="http://kary.us/information/">Information</a> &middot; 
          <a href="http://kary.us/showcase/">Showcase</a> &middot; 
          <a href="http://kary.us/artworks/">Artworks</a> &middot; 
          <a href="http://kary.us/internet/">Internet</a> &middot; 
          <a href="http://github.com/pmkary">GitHub</a> &middot; 
          <a href="mailto:k@arendelle.org">Mail</a><br>&nbsp;
      </div>
    </div>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a title="Menu" id="menuTitle" onclick="showHide()">Kary</a>
          <small>A Personal Homepage</small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <br><br><p>
          &copy; {{ site.time | date: '%Y' }} Pouya Kary. All rights reserved.<br>
          <a href="http://kary.us/information/">Information</a> • <a href="http://kary.us/showcase/">Showcase</a> • <a href="http://kary.us/artworks/">Artworks</a> • <a href="http://kary.us/internet/">Internet</a> • <a href="http://github.com/pmkary">GitHub</a> • <a href="mailto:k@arendelle.org">Mail</a>
        </p>
        <br><br>
      </footer>
    </div>
  </body>
</html>
