<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div style="background-color:#000; width:100%; visibility:hidden;" id="menu">
      <div class="karyHeader">
        &nbsp;<br><span style="color:#eee;">
        <a href="http://kary.us/">Home</a> &middot; <a href="http://kary.us/information/">Information</a> &middot; <a href="http://kary.us/showcase/">Showcase</a> &middot; <a href="http://kary.us/artworks/">Artworks</a> &middot; <a href="http://kary.us/internet/">Internet</a> &middot; <a href="http://github.com/pmkary">GitHub</a> &middot; <a href="mailto:k@arendelle.org">Mail</a><br>&nbsp;</span>
      </div>
    </div>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a title="Menu" id="menuTitle" onclick="showHide()">Kary</a>
          <small>A Personal Homepage</small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <br><br><p>
          &copy; {{ site.time | date: '%Y' }} Pouya Kary. All rights reserved.<br>
          <a href="http://kary.us/information/">Information</a> • <a href="http://kary.us/showcase/">Showcase</a> • <a href="http://kary.us/artworks/">Artworks</a> • <a href="http://kary.us/internet/">Internet</a> • <a href="http://github.com/pmkary">GitHub</a> • <a href="mailto:k@arendelle.org">Mail</a>
        </p>
        <br><br>
      </footer>
    </div>
  </body>
</html>
