<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body onload="load()">
    <div style="background-color:#000;background-image: url(http://kary.us/Graphics/menu/dot.png);background-position: center left; background-repeat: repeat-y repeat-x; width:100%; display: none;" id="menu">
      <div>
        <div style="height: 15px;"></div>

        <!-- Home Button -->
        <div style="float:left; width:25%;" id="homeButton">
          <center>
            <a href="http://kary.us/">
              <img src="http://kary.us/Graphics/menu/home.png" style="width:5rem;">
            </a>
          </center>
        </div>

        <!-- Info Button -->
        <div style="float:left;  width:25%;" id="infoButton">
          <center>
            <a href="http://kary.us/information/">
              <img src="http://kary.us/Graphics/menu/info.png" style="width:5rem;">
            </a>
          </center>
        </div>

        <!-- Connect Button -->
        <div style="float:left;  width:25%;" id="connectButton">
          <center>
            <a href="http://kary.us/internet/">
              <img src="http://kary.us/Graphics/menu/connect.png" style="width:5rem;">
            </a>
          </center>
        </div>

        <!-- Services Button -->
        <div style="float:left;  width:25%;" id="mapButton">
          <center>
            <a href="http://kary.us/map/">
              <img src="http://kary.us/Graphics/menu/map.png" style="width:5rem;">
            </a>
          </center>
        </div>
        
        <div style="clear:both; height:0px;"></div>
      </div>
    </div>

    <div class="container content" style="clear:both">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="javascript:void(0);" title="Menu" id="menuTitle" onclick="showHide()">Kary</a>
          <small id="desk"><i><= Menu...</i></small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <br><br><p>
          &copy; {{ site.time | date: '%Y' }} Pouya Kary. All rights reserved.<br>
          <a href="http://kary.us/information/">Information</a> • <a href="http://kary.us/showcase/">Showcase</a> • <a href="http://kary.us/artworks/">Artworks</a> • <a href="http://kary.us/internet/">Internet</a> • <a href="http://github.com/pmkary">GitHub</a> • <a href="mailto:k@arendelle.org">Mail</a>
        </p>
        <br><br>
      </footer>
    </div>
  </body>
</html>
